<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/style.css">
    <title>Musicart: Login</title>
</head>
<body>
    <div class = "title">
        <h1>Login</h1>
    </div>
        <div class = container>
        <form action="/auth/login" method="POST">
            <div class="form-group">
                <label for="email"><b>Email</b></label>
                <input type="email" placeholder="Enter Email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
            <button onClick="location.href = '/auth/register';" id="myButton">Register</button>
        </form>
    </div>
</body>
</html>