<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Register</title>
</head>
<body>
  <div class = "title">
    <h1>Register</h1>
  </div>
  <form action="/auth/register" method="POST">
    <div class="form-group">
        <label for="name"><b>Name</b></label>
        <input type="name" placeholder="Enter Name" id="name" name="name" required>
    <div class="form-group">
        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Enter Email" id="email" name="email" required>
    </div>
    <div class="form-group">
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" id="password" name="password" required>
    </div>
    <button type="submit">Register</button>
</form>
  
</body>
</html>
      <!-- additional feature idea -->
      <!-- <div class="form-group">
        <form>
          <label for="genre">Choose your genre:</label>
          <select name="genre" id="genre">
            <option value="pop">Pop</option>
            <option value="disco">Disco</option>
            <option value="rap">Rap</option>
            <option value="jazz">Jazz</option>
            <option value="hip-hop">Hip-Hop</option>
            <option value="classical">Classical</option>
            <option value="rock">Rock</option>
            <option value="other">Other</option>
          </select>
        </form>
      </div> -->
  